@(message: String, allViagens: List[Viagem], banners: List[Viagem], num: Integer)

@main("NazaTour") {
	
	@if(flash.contains("success")) {
   		<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
   		alert("@flash.get("success")")
   		</SCRIPT>
        	
		</p>
   }
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
      @for(a<-0 to num-1){
      	@if(a == 0)  {
      		<li data-target="#myCarousel" data-slide-to="@a" class="active"></li>
      		}else{
      	<li data-target="#myCarousel" data-slide-to="@a"></li>
      	}
      }
      </ol>
      <div class="carousel-inner">
      @for(a<-0 to num-1){
      	    @if(a == 0)  {
      		<div class="item active">
      		}else{
      		<div class="item">
      		}
      		<img src="@banners(a).getFoto()" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>@banners(a).getLocal()</h1>
              <p><a class="btn btn-lg btn-primary" href=@routes.ViagemController.showViagemInfo(banners(a).getId()) role="button">Veja mais</a></p>
            </div>
          </div>
        </div>	
      }
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
      @for(viagem <- allViagens){
        <div class="col-lg-4">
          <img class="img-circle" src="@viagem.getFoto()" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>@viagem.getLocal</h2>
          <p>@viagem.getDescricao()</p>
          <p><a class="btn btn-default" href=@routes.ViagemController.showViagemInfo(viagem.getId()) role="button">Veja mais &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        }
      </div><!-- /.row -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


}
