@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    
    	
		 
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/carousel.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/ie-emulation-modes-warning.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/docs.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/ie10-viewport-bug-workaround.js")" type="text/javascript"></script>
		
		<script>
    		$(document).ready(function(){
    		    $("#senha").hide();
    		    
				$('select').change(function(){
					var tipo = $("option:selected", this).val();
					if(tipo == "LIMITADA"){
							$("#senha").slideToggle();
						}
					if (tipo == "ABERTA"){
							$("#senha").slideToggle();
						}
				  });				
    		});    	
		</script> 
		      
    </head>
    <body>
    
    <!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" style="color: #FFF">NazaTour</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href=@routes.Application.index()>Home</a></li>
                <li><a href="#about">Minhas Viagens</a></li>
                <li><a href=@routes.ViagemController.showNewTrip()>Nova Viagem</a></li>
                <li style="margin-left: 709px"><a href=@routes.Application.logout() class="btn btn-danger" style="color: #FFF">logout</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

        @content
        @modalCadastraUsuario()
    </body>
</html>
