@(viagem: Viagem)

<div style="color: black" class="modal fade" id="modalParticipar"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Você gostaria de participar da viagem para @viagem.getLocal().getNome()?</h4>
      </div>
      <div class="modal-body">
       <form class="form-horizontal" role="form" method="post" action=@routes.ViagemController.loginTrip(viagem.getId())>
       @if(viagem.getTipoDeViagem().getSenha() != ""){
       	<div id="senha3" class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Codigo de Acesso</span>
				<input type="password" name="senha2" class="form-control" placeholder="*****">
			</div>
	  	</div>      
       }
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> 	
        <button type="submit" class="btn btn-primary">Participar</button>
        </form>
      </div>
      
      
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->